
body > .container {
    padding: 0px 15px;
}

.dropdown-toggle.active-dropdown::after {
    transform: rotate(-90deg);
}
.flexInput {
    display: flex;
    align-items: center;
}
.flexInput span {
    display: block;
    margin: 0 5px;
}
.btn-group-years .btn.active,
.btn-group-state .btn.active {
    background: #545b62;
}
table.inActive {
    display: none;
}
table ul {
    margin: 0;
    padding: 0;
}
table li {
    text-align: left;
    list-style: none;
}
table td a {
    color: #212529;
    text-decoration: none;
}
table td a:hover {
    color: #212529;
    text-decoration: none;
}